.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.parentClassModal {
  height: "100%";
  display: 'grid';
  justify-content: 'center';
  align-items: 'center';
}

#modalPopUp{
  max-width: 400;
  position: 'relative';
}

#childModal{
  position: absolute;
  top: '0';
  bottom: '0';
  left: '0';
  right: '0';
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.3);
}

#childModalPopUp{
  padding: 20;
  border-radius: 2px;
  display: inline-block;
  min-height: 300px;
  min-width: 300px;
  margin: 1rem;
  position: relative;
  justify-self: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #fff;

}